#galllery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10vw 30px 10vw;
}
h1{
    text-align: center;
    color:  rgba(145, 92, 6, 0.874);
}
.button{
    height: 50px;
    min-width: 100px;
    background-color: beige;
    border: 1px solid rgba(145, 92, 6, 0.874);
    color:  rgba(145, 92, 6, 0.874);
    font-size: larger;
}
#image{
    height: 80vh;
}
a{
    text-decoration: none;
    color:  rgba(145, 92, 6, 0.874);
}